.header {
    width: 100%;
    background: #293f65;
}

.header .logo {
    width: 100%;
    margin: auto;
    padding: 10px 0;
}

.wrapper {
    width: 100%;
}

.wrapper.bg_blue {
    background: #293F65;
    color: #FFFFFF;
}

.wrapper.bg_img {
    background-image: url(../img/head_bg.jpg);
    background-size: cover;
}

.wrapper .container {
    width: 100%;
    padding: 90px 0;
}

.wrapper .container .head {
    text-align: center;
    padding: 40px 0;
}

.wrapper .container .head .logo {
    height: 185px;
    margin-bottom: 15px;
}

.wrapper .container .head .frase {
    color: #FFFFFF;
    font-weight: normal;
    margin-bottom: 0;
}

.wrapper .container .head .skills {
    background-color: #FFFFFF;
    color: #293F65;
    display: inline;
}

.wrapper .container .head_line {
    font-size: 30px;
    font-weight: normal;
    width: 180px;
    margin: auto;
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin-bottom: 50px;
}

.wrapper .container .about .img_box {
    text-align: center;
    margin-bottom: 50px;
}

.wrapper .container .about .text_box {
    font-size: 18px;
    text-align: center;
}

.wrapper .container .skill {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper .container .skill .skill_box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.wrapper .container .skill .skill_box.last {
    margin-right: 0;
}

.wrapper .container .skill .skill_box .img_box {
    text-align: center;
    margin-bottom: 15px;
}

.wrapper .container .skill .skill_box .text_box {
    font-size: 14px;
    text-align: center;
}

.wrapper .container .work {
    overflow: auto;
    display: flex;
    justify-content: center;
}

.wrapper .container .work .work_box {
    width: 420px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.wrapper .container .work .work_box:last-child {
    margin-right: 0;
}

.wrapper .container .work .work_box .img_box {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.wrapper .container .work .work_box .img_box.work_1 {
    background-image: url(../img/work_img_1.png);
}

.wrapper .container .work .work_box .img_box.work_2 {
    background-image: url(../img/work_img_2.png);
}

.wrapper .container .work .work_box .text_box {
    background: #293F65;
    padding: 20px;
    color: #ffffff;
}

.wrapper .container .work .work_box .text_box.title {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.wrapper .container .work .work_box .text_box.title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 100%;
    display: block;
    border-bottom: 2px solid white;
}

.wrapper .container .menu {
    width: 100%;
    display: block;
    text-align: center;
}

.wrapper .container .menu_button {
    width: 235px;
    height: 60px;
    background: #293F65;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2px;
    border: none;
}

.wrapper .footer {
    text-align: center;
}

@media screen and (max-width:768px) {   
    .header .logo {
        text-align: center;
        display: inline-block;
    }

    .wrapper.bg_blue {
        padding-top: 50px;
    }

    .wrapper.bg_img {
        height: 400px;
    }

    .wrapper .container {
        height: 100%;
        padding: 0;
        position: relative;
    }

    .wrapper .container .head {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .wrapper .container .head .frase {
        font-size: 20px;
    }

    .wrapper .container .head_line {
        width: 30%;
        margin-top: 30px;
    }

    .wrapper .container .about .img_box {
        margin: 0 10% 50px 10%;
        margin-bottom: 50px;
    }

    .wrapper .container .about .img_box .about_img {
        width: 80%;
    }

    .wrapper .container .about .text_box {
        margin: 0 10% 70px 10%;
    }

    .wrapper .container .skill {
        text-align: center;
        flex-direction: column;
    }

    .wrapper .container .skill .skill_box {
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .wrapper .container .skill .skill_box .img_box .skill_img {
        width: 50%;
        text-align: center;
        display: inline-block;
    }

    .wrapper .container .skill .skill_box .text_box {
        margin: 0 10% 0 10%;
    }

    .wrapper .container .work {
        flex-direction: column;
    }

    .wrapper .container .work .work_box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
    }

    .wrapper .container .work .work_box:last-child {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .wrapper .container .work .work_box .img_box {
        width: 90%;
    }

    .wrapper .container .work .work_box .text_box {
        width: 80%;
        padding: 5%;
        font-size: 14px;
    }

    .wrapper .container .work .work_box .text_box.title {
        width: 80%;
        padding: 5%;
        margin: 0 5% 0 5%;
        font-size: 20px;
    }

    .wrapper .container .menu_button {
        width: 100%;
    }

    .wrapper .footer {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}