.header {
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
}

.menu {
  display: inline-block;
  margin-right: 15px;
  list-style: none;
}

.subject {
  font-size: 24px;
  text-align: center;
}

.canvas {
  width: 900px;
  margin: auto;
  padding: 30px;
}

.profileGroup {
  border: 1px solid black;
  display: flex;
  padding: 15px;
}

.profileGeneral {
  width: 270px;
}

.profileThumbnail {
  text-align: center;
  margin-bottom: 15px;
}

.shareButtonGroup {
  text-align: center;
}

.shareButton {
  display: inline-block;
  width: 100px;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px 0;
  color: #FFFFFF;
}

.twitter {
  background-color: #358EEF;
  margin-right: 15px;
}

.facebook {
  background-color: #2D4586;
}

.profileDescription {
  width: 630px;
}

.worksGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.worksItem {
  width: 250px;
  min-height: 180px;
  margin: 0 10px 10px 10px;
  position: relative;
}

.worksItemImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.worksItemText {
  padding: 15px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  color: #FFFFFF;
  background-color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

.worksItemTextTitle {
  font-size: 12px;
  border-bottom: solid 1px #FFFFFF;
}

.worksItem:last-child {
  margin-bottom: 0;
}

@media screen and (max-width:768px) {
  .header {
    width: 100%;
    display: block;
    text-align: center;
  }

  .menuButtons {
    display: none;
  }

  .canvas {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  .profileGroup {
    flex-wrap: wrap;
  }

  .profileGeneral {
    width: 100%;
    margin-bottom: 15px;
  }

  .profileDescription {
    width: 100%;
  }

  .worksItem {
    width: 100%;
    min-height: 180px;
    overflow: hidden;
  }

  .worksItemImg {
    width: 100%;
  }
}

@media screen and (max-width:420px) {
  .worksItem {
    margin-left: 0;
    margin-right: 0;
  }
}