.canvas {
    width: 800px;
    margin: auto;
}

.contents1 {
  display: flex;
  background-color: #008000;
  padding: 15px;
}

.infoGroup {
  margin-right: 15px;
  padding: 15px;
  background-color: #ff0000;
}

.thumbnail {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.achievement {
  width: 150px;
  height: 50px;
  background-color: #a52a2a;
}

.profile {
  width: 575px;
  background-color: #ffa500;
  padding: 15px;
}

.contents2 {
  display: flex;
  justify-content: center;
  background-color: #008000;
  padding: 15px;
}

.itemImg {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.itemImg:last-child {
  margin-right: 0;
}